@{
    ViewData["Title"] = "Home Page";
}

<div class="sidenav">
    <a href="#">Add new</a>
    <a href="#">Daily verification</a>
    <a asp-action="Instruments"
       asp-controller="Home">Instruments</a>
    <<a asp-action="Laboratories"
        asp-controller="Home">Laboratories</a>
</div>

<div class="main">
    <h2>Welcome to your LIMS homepage </h2>
    <p>To access all the info for your laboratory go to laboratories in the navigation bar.</p>
</div>
