@model LaboratoryCatalogueViewModel
@{
    ViewData["Title"] = "Laboratories";
}

<div class="text-center">
    <h2 class="display-4">All laboratories loaded to LIMS:</h2>
</div>
<div class="card-columns">
    @if (Model.Laboratories.Count() > 0)
    {
        @foreach (var item in Model.Laboratories)
        {
            <div class="card">
                <div class="card-body">
                    <a class="card-title" asp-action="Laboratories"
                       asp-controller="Home"
                       asp-route-id="@item.ID">@item.Name</a>

                </div>
            </div>
        }
    }
    else
    {
        <h5>No laboratories to display.</h5>
    }
    <div class="sidenav">
        <a href="#">Add new</a>
        <a href="#">Daily verification</a>
        <a asp-action="Instruments"
           asp-controller="Home">Instruments</a>
        <<a asp-action="Laboratories"
           asp-controller="Home">Laboratories</a>
    </div>
</div>

